@page "/products"
@inject IProductRepository repository
@rendermode @(new InteractiveServerRenderMode(prerender: false))

<h3>Products List</h3>

<SearchPanel ValueChanged="@HandleSearch" />

@if (products is null)
{
    <LoaderComponent Title="Loading products" />
}
else
{
    <ThemeCascadingValues>
        <StateCascadingValues>
            <ProductsTableTemplate Products="@products" />
        </StateCascadingValues>
    </ThemeCascadingValues>
}


@code {

    private IEnumerable<Product>? products;

    private string theme = "light";

    protected override async Task OnInitializedAsync()
    {
        products = await repository.GetAllAsync();
    }

    private async Task HandleSearch(string searchText)
    {
        products = await repository.GetByTextAsync(searchText);
    }
}