@page "/products"
@inject IProductRepository repository
@rendermode @(new InteractiveServerRenderMode(prerender: false))

<h3>Products List</h3>

@if (products is null)
{
    <LoaderComponent Title="Loading products" />
}
else
{
    <TableTemplate Items="@products">
        <HeaderTemplate>
            <th>Id</th>
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
        </HeaderTemplate>
    </TableTemplate>
}


@code {

    private IEnumerable<Product>? products;

    protected override async Task OnInitializedAsync()
    {
        products = await repository.GetAllAsync();
    }

}