@page "/customers"
@inject ICustomerRepository repository
@rendermode @(new InteractiveServerRenderMode(prerender: false))

<h3>Customer List</h3>

<SearchPanel ValueChanged="@HandleSearch" />

@if (customers is null)
{
    <LoaderComponent Title="Loading customers...">
        <img src="https://placehold.co/300x300" />
    </LoaderComponent>
}
else
{
    <CascadingValue Value="@theme">
        <CustomersTableTemplate Customers="@customers" />
    </CascadingValue>
    
}


@code {

    private IEnumerable<Customer>? customers;

    private string theme = "dark";

    protected override async Task OnInitializedAsync()
    {
        customers = await repository.GetAllAsync();
    }

    private async Task HandleOnKeyDown(KeyboardEventArgs e)
    {
        if (e.Code == "Enter" || e.Code == "NumpadEnter")
        {
            Console.WriteLine("Enter key pressed"); 
            
        }
    }

    private async Task HandleSearch(string searchText)
    {
        customers = await repository.GetByTextAsync(searchText);
    }

}