@page "/customers"
@inject ICustomerRepository repository
@rendermode @(new InteractiveServerRenderMode(prerender: false))

<h3>Customer List</h3>

@if (customers is null)
{
    <LoaderComponent Title="Loading customers...">
       <img src="https://placehold.co/300x300" />
    </LoaderComponent>
}
else
{
   <CustomersTableTemplate Customers="@customers" />
}


@code {

    private IEnumerable<Customer>? customers;

    protected override async Task OnInitializedAsync()
    {
        customers = await repository.GetAllAsync();
    }

}