@page "/customers"
@using BlazorServerApp.Domain

<h3>Customer List</h3>

<ul>
    @foreach (var customer in customers)
    {
        <li>@customer.Id @customer.Name @customer.Email</li>
    }
</ul>

