@page "/customers"
@inject ICustomerRepository repository
@rendermode @(new InteractiveServerRenderMode(prerender: false))

<h3>Customer List</h3>

<div>
    <form method="post">
        <label for="searchText">Type search text:</label>
        <input type="text" id="searchText" name="text" class="form-control" @bind-value=@searchText />
        <button type="button" class="btn btn-primary" @onclick="HandleSearch">Search</button>
    </form>
</div>

@if (customers is null)
{
    <LoaderComponent Title="Loading customers...">
        <img src="https://placehold.co/300x300" />
    </LoaderComponent>
}
else
{
    <CustomersTableTemplate Customers="@customers" />
}


@code {

    private IEnumerable<Customer>? customers;

    private string searchText = "a";

    protected override async Task OnInitializedAsync()
    {
        customers = await repository.GetAllAsync();
    }

    private async Task HandleSearch()
    {
        customers = await repository.GetByTextAsync(searchText);
    }

}