
<TableTemplate Items=@Customers Theme="@Theme">
    <HeaderTemplate>
        <th>Id</th>
        <th>Name</th>
        <th>Email</th>
    </HeaderTemplate>
    <RowTemplate Context="customer">
        <td>@customer.Id</td>
        <td>@customer.Name</td>
        <td>@customer.Email</td>
    </RowTemplate>
</TableTemplate>

@code {

    [Parameter, EditorRequired]
    public IEnumerable<Customer>? Customers { get; set; }

    [Parameter]
    public string Theme { get; set; }

}
