<div>
    <form method="get">
        <label for="searchText">Type search text:</label>
        <input type="text" id="searchText" name="text" class="form-control" @bind=@searchText @bind:event="oninput" @bind:after="@HandleSearch" @ref=searchTextElementReference />
        <button type="submit" class="btn btn-primary">Search</button>
    </form>
</div>

@code {

    private string searchText;

    [SupplyParameterFromQuery(Name = "text")]
    [Parameter]
    public string SearchText { get; set; }

    private ElementReference searchTextElementReference;

    [Parameter]
    public EventCallback<string> ValueChanged { get; set; } 

    private async Task HandleSearch()
    {
        await ValueChanged.InvokeAsync(searchText);
    }

    protected override async Task OnInitializedAsync()
    {
        searchText = SearchText;

        await HandleSearch();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await searchTextElementReference.FocusAsync();
        };        
    }

    

}