@typeparam T

<table class="table">

    <thead>
        <tr>
          @HeaderTemplate
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Items)
        {
            <tr>
                @RowTemplate(item)               
            </tr>
        }
    </tbody>

    <tfoot>
        <tr>
            <td colspan="3">
                @if (Items.Count() == 0)
                {
                    <p><em>No items found.</em></p>
                }
                else
                {
                    <p>Total Items: @Items.Count()</p>
                }
            </td>
        </tr>
    </tfoot>



</table>

@code {

    [Parameter, EditorRequired]
    public IEnumerable<T>? Items { get; set; }

    [Parameter, EditorRequired]
    public required RenderFragment HeaderTemplate { get; set; }

    [Parameter, EditorRequired]
    public required RenderFragment<T> RowTemplate { get; set; }

}
